<h1>My Bookmarks</h1>

<div class="row">
  <% if @bookmarks.any? %>
    <%= render partial: 'exercise_row', collection: @bookmarks.map(&:exercise), as: :exercise %>
  <% else %>
    <p>You have no bookmarks yet.</p>
  <% end %>
</div>