<h1>プライバシーポリシー</h1>

<p>このプライバシーポリシーは、私たちのウェブサイトやアプリケーションを利用するユーザーのプライバシーに関する取り扱いについて説明します。このポリシーは、お客様の個人情報の収集、使用、開示、および保護に関する重要な情報を提供します。</p>

<h2>情報の収集と使用</h2>
<p>当社は、サービスを提供するために必要な範囲でのみ、個人情報を収集および使用します。これには、以下が含まれます。</p>
<ul>
  <li>登録時に提供される情報（名前、メールアドレスなど）</li>
  <li>サービスを利用する際に生成される情報（操作ログ、設定など）</li>
  <li>ユーザーが特定の機能やサービスを利用する際に提供される情報</li>
</ul>

<h2>データの保護</h2>
<p>当社は、適切な技術的および組織的な手段を使用して、ユーザーの個人情報を保護します。これには、データの暗号化、アクセス制御、監視などが含まれます。</p>

<h2>Cookieとトラッキング技術</h2>
<p>当社のウェブサイトやアプリケーションでは、Cookieや同様のトラッキング技術を使用する場合があります。これらの技術は、ユーザーの訪問情報や行動を収集し、サービスの改善や広告の配信に使用される場合があります。</p>

<h2>お問い合わせ先</h2>
<p>プライバシーポリシーに関するご質問やお問い合わせがある場合は、以下の連絡先までお気軽にご連絡ください。

</p>

<p>連絡先:</p>

<h2>ポリシーの変更</h2>
<p>このプライバシーポリシーは、変更される場合があります。変更がある場合は、当社のウェブサイトやアプリケーションで通知されます。</p>

<p>最終更新日:令和6年5月21日</p>