<% if @user %>
  <h1>Your Profile</h1>
  <p><strong>Name:</strong> <%= @user.name %></p>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <%= link_to "Edit Customize", edit_customize_path %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% end %>