<div id="schedule-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="schedule-details">
      <%= render partial: 'form', locals: { calendar: @calendar, schedule: @schedule, exercises: @exercises } %>
    </div>
  </div>
</div>