<h1>Schedule Details</h1>
<p>Date: <%= @schedule.date %></p>
<p>Exercise: <%= @schedule.exercise.name %></p>
<p>Repetitions: <%= @schedule.repetitions %></p>
<p>Duration: <%= @schedule.duration %> seconds</p>
