  <h1 class="calendar-header">Calendars#index</h1>

<%= content_tag :div, class: "simple-calendar #{session[:calendar_color]}" do %>
  <%= month_calendar events: @events do |date, events| %>
    <div class="calendar-date"><%= date.day %></div>
    <div class="event-list">
      <% events.each do |event| %>
        <div class="event-item"><%= event.title %></div>
      <% end %>
    </div>
  <% end %>
<% end %>