// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.calendar-header img.calendar-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}