<h1>User Details</h1>

<p>
  <strong>Name:</strong>
  <%= @line_user.name %>
</p>

<p>
  <strong>LINE User ID:</strong>
  <%= @line_user.line_user_id %>
</p>

<% if @line_user.profile_image_url.present? %>
  <p>
    <strong>Profile Image:</strong>
    <img src="<%= @user.profile_image_url %>" alt="Profile Image">
  </p>
<% end %>
<%= link_to "Edit Customize", edit_customize_path %>