<h1>Exercise List</h1>

<%= search_form_for @q, url: exercises_path, method: :get, local: true do |f| %>
  <div class="input-group mb-3">
    <%= f.search_field :description_or_target_muscles_cont, placeholder: "Search by description or target muscles", class: "form-control" %>
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
<% end %>

<div class="row">
  <%= render partial: 'exercise_row', collection: @exercises, as: :exercise, locals: { calendar_id: @calendar.id, date: @selected_date } %>
</div>