<h1>Exercise List</h1>

<%= form_with url: exercises_path, method: :get, local: true do %>
  <div data-controller="autocomplete">
    <input type="text" name="q" data-autocomplete-target="input" placeholder="Search exercises..." class="form-control">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Difficulty</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'exercise_row', collection: @exercises, as: :exercise %>
  </tbody>
</table>
