<h1>Exercise List</h1>

<%= search_form_for @q, url: exercises_path, method: :get, local: true do |f| %>
  <div data-controller="autocomplete" data-autocomplete-url-value="<%= autocomplete_exercises_path %>">
    <%= f.search_field :name_cont, placeholder: "Search exercises...", class: "form-control", data: { autocomplete_target: "input" } %>
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Difficulty</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'exercise_row', collection: @exercises, as: :exercise %>
  </tbody>
</table>