<!-- app/views/layouts/_sidebar.html.erb -->
<div class="sidebar">
  <ul>
    <li><a href="/calendars">Calendars</a></li>
    <li><a href="/exercises">Exercises</a></li>
    <li><%= link_to 'Register', new_user_path %></li>
    <li><a href="/terms_of_service">Terms of Service</a></li>
  </ul>
</div>
