<div class="sidebar">
  <ul>
    <% if @calendar.present? %>
      <li><%= link_to 'Calendars', calendar_path(@calendar) %></li>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'My Profile', user_profile_path %>
    <% else %>
      <%= link_to 'Register', new_registration_path %>
    <% end %>
    <li><a href="/exercises">Exercises</a></li>
  </ul>
</div>
