<div class="sidebar">
  <ul>
    <% if session[:current_calendar_id].present? %>
      <li><%= link_to 'Calendar', calendar_path(session[:current_calendar_id]), class: 'sidebar-link' %></li>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'My Profile', user_profile_path, class: 'sidebar-link' %>
    <% elsif @current_line_user %>
      <%= link_to 'My Profile', line_user_path(current_line_user), class: 'sidebar-link' %>
    <% else %>
      <%= link_to 'Register', new_registration_path, class: 'sidebar-link' %>
    <% end %>
    <li><a href="/exercises" class="sidebar-link">Exercises</a></li>
  </ul>
</div>
